<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.1.xsd" >


    <bean id="helloworld" class="Spring.HelloWorld">
        <property name="message" value="Hello World!"></property>

    </bean>

    <bean id="helloworld1" class="Spring.HelloWorld" scope="singleton">
        <property name="message" value="Hello World!"></property>

    </bean>

    <bean id="helloworld2" class="Spring.HelloWorld" scope="prototype">
        <property name="message" value="Hello World!"></property>

    </bean>

    <bean id="helloworldabs" class="Spring.HelloWorld" init-method="init" destroy-method="distory">
        <property name="message" value="Hello World!"></property>

    </bean>

    <bean id="helloworldabsdef" class="Spring.HelloWorld">
        <property name="message" value="Hello World!"></property>

    </bean>

    <bean class="Spring.InitHelloWorld"/>
</beans>